
body, .app-root, .app-requester {
  position: absolute;
  height: 100%;
  width: 100%;
}

body .requester-content-loader, .app-root .requester-content-loader, .app-requester .requester-content-loader {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

body {
  background-color: var(--bg-primary);
  overflow: hidden;
}

.app-root {
  overflow-x: auto;
}

.app-requester {
  display: flex;
  flex-direction: column;
  min-width: 900px;

  .requester-header {
    flex: 0 0 50px;
  }

  .requester-contents {
    flex: 1;
  }
}


.requester-content {
  flex: 1;
  overflow: hidden;
}


@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.2;
  }
}
