
.member-select-container {
  .dropdown-menu {
    background-color: transparent;
    box-shadow: unset;
  }

  .member-select-btn {
    font-weight: 600;
    font-size: 11px;
    color: var(--content-secondary);
  }

  .member-select {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    background-color: var(--bg-primary);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 8px;
    height: 260px;
    width: 230px;

    .input-search-group {
      border-radius: 3px;
      margin-bottom: 4px;
      margin-top: 8px;
    }

    .member-select-list {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;

      .member-item {
        cursor: pointer;
        user-select: none;
        padding: 8px 4px;
        position: relative;
        height: 18px;
        display: flex;
        align-items: center;

        .member-item-text {
          color: var(--content-primary);
          margin-left: 8px;
          width: 160px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .member-item-checkbox {
          position: absolute;
          right: 4px;
        }

        &:hover {
          background-color: var(--bg-primary--shade--one);
        }

        &:nth-of-type(1) {
          margin-top: 8px;
        }
      }
    }
  }
}
