
:root {
  --dark-bg-primary: #1e272c;
  --dark-bg-primary--shade--four: #1e272c;
  --dark-bg-primary--shade--one: #1e272c;
  --dark-bg-primary--shade--three: #1e272c;
  --dark-bg-primary--shade--two: #1e272c;
  --dark-bg-secondary: #263238;
  --dark-bg-secondary--shade--four: #263238;
  --dark-bg-secondary--shade--one: #263238;
  --dark-bg-secondary--shade--three: #263238;
  --dark-bg-secondary--shade--two: #263238;
  --dark-bg-tertiary: #2e3c43;
  --dark-bg-tertiary--shade--four: #2e3c43;
  --dark-bg-tertiary--shade--one: #2e3c43;
  --dark-bg-tertiary--shade--three: #2e3c43;
  --dark-bg-tertiary--shade--two: #2e3c43;
  --dark-color-lightest: #ffffff;
  --dark-color-lightest--shade--four: #ffffff;
  --dark-color-lightest--shade--one: #ffffff;
  --dark-color-lightest--shade--three: #ffffff;
  --dark-color-lightest--shade--two: #ffffff;
  --dark-content-primary: #b0bec5;
  --dark-content-primary--shade--four: #b0bec5;
  --dark-content-primary--shade--one: #b0bec5;
  --dark-content-primary--shade--three: #b0bec5;
  --dark-content-primary--shade--two: #b0bec5;
  --dark-content-secondary: #607d8b;
  --dark-content-secondary--shade--four: #607d8b;
  --dark-content-secondary--shade--one: #607d8b;
  --dark-content-secondary--shade--three: #607d8b;
  --dark-content-secondary--shade--two: #607d8b;
  --color-darkest: #ffffff;
  --color-darkest--shade--four: #ffffff;
  --color-darkest--shade--one: #ffffff;
  --color-darkest--shade--three: #ffffff;
  --color-darkest--shade--two: #ffffff;
  --accent-error: #ed4b48;
  --accent-error--highlight: rgba(237, 75, 72, 0.2);
  --accent-error--shade--four: #a51310;
  --accent-error--shade--one: #eb3935;
  --accent-error--shade--three: #d41815;
  --accent-error--shade--two: #e92623;
  --dark-hairline-regular: #425b67;
  --dark-hairline-regular--shade--four: #425b67;
  --dark-hairline-regular--shade--one: #425b67;
  --dark-hairline-regular--shade--three: #425b67;
  --dark-hairline-regular--shade--two: #425b67;
  --dark-hairline-strong: #314549;
  --dark-hairline-strong--shade--four: #314549;
  --dark-hairline-strong--shade--one: #314549;
  --dark-hairline-strong--shade--three: #314549;
  --dark-hairline-strong--shade--two: #314549;
  --bg-primary: #263238;
  --brand-primary: #009688;
  --content-primary: #b0bec5;
  --brand-primary--highlight: rgba(var(--brand-primary), 0.2);
  --bg-primary--shade--four: #263238;
  --brand-primary--shade--four: #009688;
  --content-primary--shade--four: #b0bec5;
  --bg-primary--shade--one: #263238;
  --brand-primary--shade--one: #009688;
  --content-primary--shade--one: #b0bec5;
  --bg-primary--shade--three: #263238;
  --brand-primary--shade--three: #009688;
  --content-primary--shade--three: #b0bec5;
  --bg-primary--shade--two: #263238;
  --brand-primary--shade--two: #009688;
  --content-primary--shade--two: #b0bec5;
  --hairline-regular: #425b67;
  --hairline-regular--shade--four: #425b67;
  --hairline-regular--shade--one: #425b67;
  --hairline-regular--shade--three: #425b67;
  --hairline-regular--shade--two: #425b67;
  --bg-secondary: #32424a;
  --brand-secondary: #c792ea;
  --content-secondary: #607d8b;
  --brand-secondary--highlight: rgba(var(--brand-secondary), 0.2);
  --bg-secondary--shade--four: #32424a;
  --brand-secondary--shade--four: #c792ea;
  --content-secondary--shade--four: #607d8b;
  --bg-secondary--shade--one: #32424a;
  --brand-secondary--shade--one: #c792ea;
  --content-secondary--shade--one: #607d8b;
  --bg-secondary--shade--three: #32424a;
  --brand-secondary--shade--three: #c792ea;
  --content-secondary--shade--three: #607d8b;
  --bg-secondary--shade--two: #32424a;
  --brand-secondary--shade--two: #c792ea;
  --content-secondary--shade--two: #607d8b;
  --hairline-strong: #2a373e;
  --hairline-strong--shade--four: #2a373e;
  --hairline-strong--shade--one: #2a373e;
  --hairline-strong--shade--three: #2a373e;
  --hairline-strong--shade--two: #2a373e;
  --accent-success: #26b47f;
  --accent-success--highlight: rgba(38, 180, 127, 0.2);
  --accent-success--shade--four: #77e2ba;
  --accent-success--shade--one: #2ac58b;
  --accent-success--shade--three: #4dd9a5;
  --accent-success--shade--two: #30d396;
  --bg-tertiary: #1e272c;
  --content-tertiary: #415967;
  --bg-tertiary--shade--four: #1e272c;
  --content-tertiary--shade--four: #415967;
  --bg-tertiary--shade--one: #1e272c;
  --content-tertiary--shade--one: #415967;
  --bg-tertiary--shade--three: #1e272c;
  --content-tertiary--shade--three: #415967;
  --bg-tertiary--shade--two: #1e272c;
  --content-tertiary--shade--two: #415967;
  --accent-warning: #ffb400;
  --accent-warning--highlight: rgba(255, 180, 0, 0.2);
  --accent-warning--shade--four: #ffda80;
  --accent-warning--shade--one: #ffba14;
  --accent-warning--shade--three: #ffcb4d;
  --accent-warning--shade--two: #ffc029;
}
