.texteditor-header {
  color: $primary;
}

.editor {
  border: 1px solid $border;

  /* Search Extension Styling */

  &.ace_editor {
    font: 12px "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", "Cousine", monospace, monospace;

    .ace_gutter {
      background-color: $bg2;
    }

    .ace_content {
      background-color: $contrast;
    }
  }

  .ace_link_marker {
    border-bottom: 1px solid $hl;
  }

  .ace_search {
    background-color: $contrast;
    border: 1px solid $borderLight;
  }

  .ace_search_form, .ace_replace_form {
    border: 1px solid $borderLight;
    font-family: $fontFamily;
  }

  .ace_search_form.ace_nomatch {
    border-color: $error;
  }

  .ace_search_field {
    background-color: $contrast;
  }

  .ace_searchbtn, .ace_replacebtn {
    background: $button;
    border-left: 1px solid $borderLight;
  }

  .ace_searchbtn {
    &:hover, &.is-hovered {
      background-color: $hl;
    }
  }

  .ace_replacebtn {
    &:hover, &.is-hovered {
      background-color: $hl;
    }
  }

  .ace_searchbtn {
    &:active, &.is-active {
      background-color: $active;
    }
  }

  .ace_replacebtn {
    &:active, &.is-active {
      background-color: $active;
    }
  }

  .ace_searchbtn {
    &:disabled {
      background: none;
      cursor: default;
    }

    &:hover, &.is-hovered {
      background-color: $hl;
    }

    &:active, &.is-active {
      background-color: $active;
    }
  }

  .ace_button {
    border: 1px solid $button;
    color: $text;

    &:hover, &.is-hovered {
      background-color: $hl;
    }

    &:active, &.is-active {
      background-color: $active;
    }

    &.checked {
      background-color: $primary;
      color: $selectFg;
    }
  }
}

.text-editor__feedback-text {
  color: $text;
}

.response-body-viewer-tab {
  .tab-beta-label {
    color: $text;
  }
}
