.btn {
  font-family: $fontFamily;
  color: $text;
  background: $button;
}

.btn-primary {
  background-color: rgba($accent, 0.8);
  color: $selectFg;

  &:focus, &.is-focused, &:hover, &.is-hovered {
    background-color: $accent;
  }

  &:active, &.is-active {
    background-color: $accent;
  }

  &.is-disabled {
    opacity: 0.3;

    &:focus, &.is-focused, &:hover, &.is-hovered, &:active, &.is-active {
      background-color: $accent;
    }
  }
}

.btn-secondary,
.btn-tertiary {
  background-color: $button;
  color: $text;

  &:focus, &.is-focused, &:hover, &.is-hovered {
    background-color: $hl;
    color: $selectFg;
  }

  &:active, &.is-active {
    background-color: $active;
    color: $selectFg;
  }

  &.is-disabled {
    opacity: 0.5;

    &:focus, &.is-focused, &:hover, &.is-hovered, &:active, &.is-active {
      background-color: $button;
      color: $selectFg;
    }
  }
}

.btn-text {
  color: $text;

  &.is-disabled {
    opacity: 0.5;
  }
}

.btn-icon {
  background-color: $button;
  color: $fg;

  &:hover, &.is-hovered, &:active, &.is-active {
    background-color: $active;
    color: $primary;
  }

  &.is-disabled {
    opacity: 0.5;

    &:focus, &.is-focused, &:hover, &.is-hovered, &:active, &.is-active {
      background-color: $hl;
      color: $primary;
    }
  }
}

.btn-group {

  .btn {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:last-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.btn-group-separated .btn:not(:last-child) {
  border-right: 1px solid $borderLight;
}
