.input-group-line {
  &:hover, &.is-hovered {
    background-color: $hl;
  }

  &:hover > .input, &.is-hovered > .input {
    background-color: $accent;
  }
}

.input-group-stacked {
  > .input {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.input-suggestions {
  background-color: $bg2;
  border-radius: 0;
}

.input-suggestion {
  color: $accent;

  &.is-hovered {
    background-color: $selectBg;
    color: $selectFg;
  }

  &:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.input-warning {
  color: $yellow;
  background-color: $bg;
  border-radius: 0;
}
