.input {
  color: $fg;
  font-family: $fontFamily;
  background: $bg;
  border-radius: 2px;
  border: 2px solid $borderLight;

  &.show-focus {
    &:focus, &.is-focused {
      border-width: 2px;
      border-color: $accent;
    }
  }

  &::-webkit-input-placeholder {
    color: $disabled;
  }
}

.input-error-section {
  .input-error-icon use {
    fill: $error;
  }

  .input-error-tooltip {
    background-color: $error;
    color: $selectFg;
    font-family: $fontFamily;
  }
}

.input-warning-section {
  .input-warning-icon use {
    fill: $yellow;
  }

  .input-warning-tooltip {
    background-color: $yellow;
    color: $selectFg;
    font-family: $fontFamily;
  }
}

.input-line {
  border-bottom: 1px solid $borderLight;

  &:focus, &.is-focused {
    border-bottom: 2px solid $accent;
  }
}

.input-box {
  background: $bg;
  border-radius: 2px;
  border: 2px solid $borderLight;

  &:hover, &.is-hovered {
    border-color: $primary;
    background: $bg;
  }

  &:focus, &.is-focused {
    border-color: $accent;
  }

  &.is-error {
    border-color: $error;
  }
}

.file-input {
  .file-input__native {
    &:focus + .file-input__fake {
      background-color: $excluded;
    }
  }

  .file-input__name {
    border-radius: 0;
    border: $borderLight;
    font-family: $fontFamily;
    color: $fg;

    &.show-focus {
      &:focus, &.is-focused {
        border-color: $accent;
      }
    }
  }
}

