.request-editor-send-button {
  .btn {
    background-color: $accent2;
    color: $selectFg;

    use {
      fill: $button;
    }

    &:hover, &.is-hovered {
      background-color: $accent2;
    }

    &:active, &.is-active {
      background-color: $accent2;
    }
  }

  &.is-loading .btn {
    &:first-child {
      &:hover, &:active {
        background-color: $accent2;
      }
    }
  }
}
